<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="https://dreamhouse-website.onrender.com/" class="nav-link px-2 text-body-secondary">Главная</a></li>
      <li class="nav-item"><a target="_blank" href="https://dreamhouse-website.onrender.com/about-us/" class="nav-link px-2 text-body-secondary">О нас</a></li>
      <li class="nav-item"><a target="_blank" href="https://dreamhouse-website.onrender.com/contacts/" class="nav-link px-2 text-body-secondary">Контакты</a></li>
    </ul>
    <p class="text-center text-body-secondary">&copy; 2024 DreamHouse</p>
  </footer>
</div>