<div class="border-bottom row" style="margin-bottom:16px; padding-bottom:4px">
  <div class="col-10">
    <h4 
      style="color:rgb(120, 120, 120); margin-bottom:4px;">{{estate['type']}}
    </h4>
    <div>
      <b>Местоположение:</b> {{estate['location']}} 
    </div>
    {% if 'cost' in estate %}
    <div>
      <b>Стоимость:</b> {{estate['cost']}} 
    </div>
     {% endif %} 
    <div>
      <b>Комнаты:</b> {{estate['rooms']}} 
    </div>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-outline-primary">Подробнее</button>
    </div>
</div>