<nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm fixed-top bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
    <img src="/static/logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
      DreamHouse</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a target="_blank" class="nav-link active" aria-current="page" href="https://dreamhouse-website.onrender.com/">Главная</a>
        </li>
        <li class="nav-item">
          <a target="_blank" class="nav-link active" aria-current="page" href="https://dreamhouse-website.onrender.com/about-us/">О нас</a>
        </li>
        <li class="nav-item dropdown">
          <a target="_blank" class="nav-link dropdown-toggle" href="https://dreamhouse-website.onrender.com/catalog/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Каталог
          </a>
          <ul class="dropdown-menu">
            <li><a target="_blank" class="dropdown-item" href="https://dreamhouse-website.onrender.com/catalog/apartments/">Квартиры</a></li>
            <li><a target="_blank" class="dropdown-item" href="https://dreamhouse-website.onrender.com/catalog/houses/">Дома action</a></li>
            <li><hr class="dropdown-divider"></li>
          </ul>
        </li>
        <li class="nav-item">
          <a target="_blank" class="nav-link active" aria-current="page" href="https://dreamhouse-website.onrender.com/contacts/">Контакты</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Поиск</button>
      </form>
    </div>
  </div>
</nav>
<div style="height:56px"></div>